[2022-06-20 20:26] DominusExult opened #223 "ES: modifying shapes in mods not saveable - due to SDLRWOPS changes? Windows"
Adding a frame to a shpe in shapes.vga and then "saving all" results in an Exult Studio Prompt:
`Error writing '<PATCH>/shapes.vga'`

Since this works in 1.8 but not current git I assume this is is also caused by the changes of the Android port in U7open or so.

Steps to reproduce:
- Start Exult with a mod, e.g. BG Keyring mod
- start Exult Studio from exult via ctrl-alt-m
- in Studio right click

[2022-06-20 23:14] ceckak commented on #223
Will take a look.  I haven't played with ES before, so may take a bit to get up to speed.

[2022-06-21 15:08] DominusExult commented on #223
Just had the time to test on macOS and it's not reproducible there, so maybe Windows only.

[2022-06-21 18:11] ceckak commented on #223
Ok - thanks for narrowing it down.  I have a windows desktop gathering dust and can try to get a build environment set up there.

[2022-06-22 19:00] wench commented on #220
The deadcode thing seems to just be a side effect of how the new code works compared to the old code. The old code explicitly checked the different mode types separately setting ok_pal and ok_rgb appropriately while the new code makes no distinction setting both if a mode is ok, so ok_pal and ok_rgb are now always the same breaking the logic of the warning messages. The dead code paths can probabl

[2022-06-22 19:18] DominusExult commented on #220
@wench do you remember the reason for the complexity of getting the correct color depth?

[2022-06-22 20:02] DominusExult commented on #223
Hmm, I guess with dcbd0318 it's useless to test as mods were not working before

[2022-06-23 04:37] wench commented on #220
TBH I don't remember but I'd hazard a guess it was for performance reason to avoid doing multiple pixel format conversion unnecessarily. For Slower early 2000s and late 90s systems you kind of wanted that. Especially when using scalers that were quite demanding on systems at the time, You really didn't want exult and sdl doing colour format conversions.

[2022-06-26 11:58] eliyo opened #225 "Set up a Discord server"
As of today, it seems there is no way to get in contact with anyone interested in this project if you're not already part of the members. The registration on the forums is down, and the IRC channel is deserted. Please put in place a Discord server for the project which is the most convenient way to build communities nowadays.

[2022-06-26 12:22] tristantarrant commented on #225
GitHub discussions is also a possibility

[2022-06-26 13:18] eliyo commented on #225
GitHub Discussions may be a great replacement for the forums however I am not sure regarding the chat. Another thing to consider is Discord generates so much community attraction it could contribute to a boost of popularity and interest in this project.

[2022-06-26 14:27] DominusExult commented on #225
Irc is usually manned by Marzo and me and the forum registration IS wonky but I activate new users as soon as possible.
I don't think adding a Discord will help. Chat is not as everlasting as a forum post or Guthub issue.
And someone would need to be present there as well

[2022-06-26 15:55] marzojr commented on #225
To be fair, there are Discord/IRC bridges that can be set up, so they would not be mutually exclusive. I would not oppose a Discord server for Exult.

[2022-06-26 16:50] eliyo commented on #225
I agree with @DominusExult relatively to the archiving nature of Discord which is not as good as forums. This is usually the main reluctance ppl have over Discord when they're used to forums. This is however mitigated in Discord with ability to pin messages, the search feature as well as threads. I don't see Discord as a replacement to forums but a complement.

My suggestion for the time being wou

[2022-06-27 14:04] DominusExult commented on #225
As for your registration attempts, please do read the sticky topics, especially this one http://exult.info/forum/viewtopic.php?f=1&t=1791246&sid=44ae024ffe91fd39432bf0a4e943e6f5

[2022-06-30 12:06] eliyo commented on #225
@DominusExult I tried already to login but it failed, and I cannot reset my password. Just wondering how long it will take you guys to realize there is a real problem in the way communication works on this project! I proposed you an alternative that could solve a bunch of issues, it's on your side now!

[2022-06-30 18:25] DominusExult commented on #225
what is your user name? If it is olio, I activated the account on the same day. But if you requested a password reset, it's basically made worse by our problem with the SF server that doesn't send emails (activation or email resets or whatever). If you tell me your username, I can "manually" send a new password to the registered email address which you can then change.

It's really not necessary t

[2022-06-30 18:52] eliyo commented on #225
@DominusExult I just tried to login to the forum and it worked! Not sure why it didn't work last time I did, did you do something recently? Anyway, at least this is working now.

Sorry I didn't mean to be rude, I'd just wish you'd realize that things change and forums and IRC and just not the way to get people attracted to your project in 2022. There are things really interesting in what you guys

[2022-07-02 05:00] ceckak commented on #223
Finally got my windows build environment set up and can run exult and studio successfully.  I wasn't able to launch studio from inside exult and am not sure why yet - maybe a problem with passing the key sequence through the VNC session I'm using to remote-access windows.

However, I manually opened the keyring-modded forgeofvirtue game, edited the body and replaced it with the spaceship, saved al

[2022-07-02 10:57] DominusExult commented on #223
Yes, you need to do the steps I wrote above. Or doing the shape exchange while Exult is connected to Exult Studio (still need to be in map edit mode).

[2022-07-03 19:30] DominusExult opened #226 "Fastmouse has issues"
Seems that on macOS it sometimes hides the cursor or places it off screen. On iOS and Android it didn't work at all and needed to be disabled.
This issue is a reminder to investigate this more.

[2022-07-04 04:17] ceckak commented on #223
Didn't have any luck getting studio to launch with 'ctrl-alt-m', even when working directly on the windows console.  Also not having any luck getting studio to connect to an exult that is already running.  Not sure what I've got wrong, but I'll spend some time rummaging through the code to learn more about how studio gets launched and how the server communications work...

[2022-07-05 00:41] ceckak commented on #223
Ok - I take it back.  Not sure what I was doing differently before, but I was able to fully reproduce the issue with the steps described above.  Will update the issue after I debug and identify a fix.

[2022-07-16 06:12] jharrison03 opened #227 "Crash on 1.8 ( malloc(): memory corruption ... )"
Exult 1.8 frequently crashes `with malloc(): memory corruption: {address}`.  Opening GUMPs seems to trigger this more frequently.

Exult 1.6 works properly.

This is an older Debian 8 32-bit with current GCC (11.3.0) and toolchain, and SDL2 2.0.22.

[code]

[2022-07-16 09:21] DominusExult commented on #227
could you try the current git code?

[2022-07-20 18:28] #223 closed

[2022-07-20 18:30] marzojr commented on #223
I traced the issue to the fact that the underlying APIs used by SDLRWOPS apparently is opening the files in locked exclusive mode in Windows, which prevents ES from saving it while Exult is running. Fixing this also led me to a segfault when the shape files were reloaded, which I subsequently fixed.

[2022-07-22 02:49] ceckak commented on #223
Thanks for chasing this down.  Between vacations and awkward access to my windows box, I'd been making slow progress.  The locked exclusive mode matches the behavior - ES doesn't use SDLRWOPS, but Exult does, so has the files locked when spawning ES from inside the game.

It looks like your fix simply tries to use normal ifstream access first, and falls back to SDLRWOPS if that fails.  Should be f

[2022-07-22 16:02] Zaphero1 opened #228 "[Request] official support for Rotate"

[2022-07-23 09:56] marzojr commented on #223
From what I saw of SDLRWOPS source code, they try to open the file using C stdio, then they try using the JNI to open special paths. So there is a slight penalty on Android due to trying to open the file twice from the filesystem, but it should work basically the same otherwise.

If the 'open twice' behavior turns out to be too heavy a burden, we can also restrict the normal ifstream usage to only

[2022-07-23 16:56] wench commented on #228
This nice to have feature is somewhere on my todo list under a bunch of other changes needed to ensure I can do it properly with things being as undisruptive to players as possible with as few problems

[2022-07-29 15:59] nckx commented on #225
If your aim is to attract people interested in open, welcoming communities and software, don't use Discord.  Your entire forum becomes their walled garden and invisible to search engines.

Discord itself isn't even free software.  Worse, they actively work against free software clients.

You have to ‘join’ to read previous discussions, which I can't even do without giving them my e-mail address.

[2022-07-30 11:51] eliyo commented on #225
Everyone may have their own opinion about Discord, but for things to move it also helps to stick to the facts. Every indie game being made now has a Discord community, and this goes way beyond games, it's also for apps, tools and various other communities. This is not an opinion, this is a fact.

What I see in Exult is a wonderful project that has some great potential in particular through Exult S

[2022-08-06 19:20] DominusExult opened #229 "Windows: loading savegames, starting new mod games broken"
One of the July 20th commits by @marzojr  broke both.
When you open the savegame gump and select an existing savegame it will say that the savegame can’t be read. Saving a new one will result in the same „broken“ state.

Starting a new game of a mod will crash Exult.

I have limited access to a Windows machine right now, so the github snapshots were the only way to pinpoint the problem

[2022-08-07 10:32] DominusExult commented on #228
I guess one of the steps would be decoupling of gumps from the world rendering, which is needed for better scaling as well as we touched ipon in another issue ;)

[2022-08-07 16:38] drcode1 commented on #228
I don't think it would be all that hard.  Although gumps would need
different scaling.  I haven't kept up with SDL, so maybe they provide
some way of doing this.

On 8/7/2022 3:32 AM, Dominik Reichardt wrote:

[2022-08-08 04:20] wench commented on #228
Probably should do something regarding "decoupling of gumps from the world rendering" but finding myself afflicted with analysis paralysis while thinking about exactly how I want to do it and then thinking of edge cases where things wont work. Sticking point is largely scaled elements being drawn over unscaled ones, This would be a particular issue with wanting a scaled mouse cursor being drawn ov

[2022-08-08 09:13] eliyo commented on #229
I made a few debugging and found out the "unreadable savegame" error is due to Flex file checking (Magic number not found) in Game_window::get_saveinfo() calling Flex::is_flex(). Inspecting the savegame procedure, Game_window::save_gamedat() is calling save_gamedat_zip() if HAVE_ZIP_SUPPORT is defined (which is the case in my build). However save_gamedat_zip() doesn't seem to implement the Flex fi

[2022-08-08 14:53] eliyo commented on #225
@DominusExult can you please enable me to reset my password on the forum (olio), I didn't note it, the browser didn't save it and the session has expired (if there is another way to ask than writing here please let me know, thanks!)

[2022-08-08 16:35] DominusExult opened #230 "macOS: snapshot broken"
The snapshot is broken atm as it pulls in a harfbuzz dependency from another prefix than the glib provided in the snapshot. This it doesn‘t crash.

[2022-08-08 20:32] DominusExult commented on #225
I‘m warming up to the Discord server but I am thinking of getting us a channel in the UDIC discord server https://discord.gg/SPH7CKR5
I‘m in talks with Kenneth, who runs it and he sees no problem setting up a bot that bridges to IRC.
My reasoning is that it might be nice to have a lot of people around if you want to talk about general Ultima or so stuff. You have that there

[2022-08-08 23:00] TapestryOfAges opened #231 "[Request] Allow sound/music to continue to play while Exult does not have focus"
While I usually am making requests for the reverse, I've been streaming Exult on Twitch and would love it if it was not immediately obvious to my viewers that I have alt-tabbed to check something in a walkthrough or send a quick text to my partner. :) There may well be underlying reasons why this is way more complicated than is worth pursuing for something not many people are likely to want, but w

[2022-08-09 05:15] wench commented on #231
There is a config file option that should already do this.

In exult.cfg change config/audio/disablepause and set it to yes. exult will automatically create this setting in the config file when it runs so you just need to find the disable pause element and change it to yes

[2022-08-09 05:15] #231 closed

[2022-08-13 11:19] DominusExult commented on #230
Seems that with 7a36171e it began somehow mixing my two prefixes. Need to further investigate

[2022-08-13 15:42] DominusExult commented on #230
The problem is that my two-prefix build system is breaking once freetype is pulled into the Exult linking which then uses the one first found in my GTK3 prefix.
Why do we even need the Freetype libs in EXULTLIBADD in Makefile.am when only Exult Studio needs that? https://github.com/exult/exult/blob/master/Makefile.am#L146

@Dragon-Baroque @ceckak @marzojr

[2022-08-14 19:10] Vidsek commented on #221
If checking 'nearby window/open door' is too complex, I (personally) would be fine with no propagation to the exterior and rationalize it as the light from windows and doors being too faint to matter outside.
I would find it more interesting in-game if a light in one room of a structure did not illuminate the whole place.  Upstairs/downstairs, shut doors, and so on should block the light.

Just an

[2022-08-14 19:24] Vidsek commented on #178
My main issue with current combat AI is how *all* the party clumps right on the mob(s) being attacked.  Party members (and mob NPCs) equipped with ranged weapons should stand back a ways (but within their weapon's range) and ones equipped with melee weapons should stand at the max range of their weapon (mostly significant for halbards and, especially, whips).
This would hopefully reduce the incide

[2022-08-15 00:47] DominusExult commented on #225
So our channel #exult on the UDIC discord server is set up. Use https://discord.gg/JQMz3Vqhu7 to join the server and then go to the "Fan Projects" selection and enter #exult.
There is a discord-irc bridge working, so when someone writes in discord it shows in irc and vice versa.
In theory, when you have the same nick in both it should display nicely on Discord, but that is not working and needs mo

[2022-08-15 00:47] #225 closed

[2022-08-15 15:18] Dragon-Baroque commented on #230
@DominusExult, a few thoughts.
- In Linux I can list referenced but unused shared libaries in an executable like `exult` by `ldd -u exult`. MacOSX ?
- Yes, FREETYPE2_LIBS should be removed from EXULTLIBADD.
- There are many tools in `tools/Makefile.am`, plus ucc and ucxt in `usecode` with unneeded references to libX11, libXau, libXcb. They use SYSLIBS which is set to libX11 in `configure.ac` with

[2022-08-19 17:52] Dragon-Baroque commented on #230
Just posted Merge Request #232 making pkg-config mandatory in 1.9.
Has been accepted and merged by @marzojr, thanks.

BTW, I would like to awaken my issue #185 about cleaning up `configure.ac` instead of the present one, seems more relevant to me.

[2022-08-19 17:58] Dragon-Baroque commented on #185
Made `pkg-config` mandatory by Merge Request #232.

@marzojr  next, I shall complete the alignment of `DEBUG_LEVEL` vs `WARNINGS` in `configure.ac` like `Makefile.mingw` along your wish.

[2022-08-19 18:07] marzojr commented on #185
If you are willing to, yes please 🙂

[2022-08-19 20:11] Dragon-Baroque commented on #185
Pull Request #233.
After the compilations passed, I merged it.
@marzojr you must do that differently, since I ended up with a the commit and a merge commit above, but you merged my previous one without a top merge commit. How did you do, please ?

[2022-08-19 21:22] Dragon-Baroque commented on #185
Pull Request #234.

This one is to silent the CLang++ compiler over SDL because of some old style cast.

I leave you @marzojr and @DominusExult to review it. For the moment, I do not expect to merge it myself.

[2022-08-21 09:01] marzojr commented on #185
I always do a 'rebase and merge' since it leaves the history cleaner.

[2022-08-21 09:19] marzojr commented on #229
Please file this as a separate issue.

[2022-08-21 09:48] #229 closed

[2022-08-21 18:11] Dragon-Baroque commented on #185
I have found and used it for my latest PR. Thanks

[2022-08-21 18:11] #185 closed

[2022-08-22 07:10] Dragon-Baroque opened #236 "SDL for Exult, Cleanup"
I have posted the branch `exult_clean_sql` on my fork `Dragon-Baroque/exult`, this is one commit above `master`.
It bumps all `#includes` of SDL to `#include <SDL.h>` with angle brackets, leaves in comment what would be enough as SDL `#includes` and brackets all these with compiler silenting pragmas.
I have not made a Pull Request out of if as I may have broken the iOS and Android : Please, for yo

[2022-08-23 13:47] ectorhga opened #237 "Exult on a Raspberry Pi (4)"
Hi,

in the past I've compiled and run Exult 1.6 on a Raspberry Pi 3. Later, I changed over to a RPi4 and had some issues, that [were resolved when I used SDL1](https://github.com/exult/exult/issues/33#issuecomment-634648162) as backend.
I was now eager to try the latest release (1.8) on my RPi4. This Pi is used as a "RetroPie" with KMS/DRM and a resolution of 1920x1080. I used the `configure` opt

[2022-08-23 14:49] vanfanel commented on #237
Use SDL2. Using SDL1.x on this day and age is a VERY bad idea.

I don't know/care if SDL2 comes with KMS/DRM support on RetroPie, but if it doesn't you must build a KMS/DRM-enabled SDL2 first, and then build Exult against it.

Thanks the best way! :D

[2022-08-23 15:10] vanfanel commented on #237
@DominusExult Ah, well done with killing SDL1.x support at last :dagger:

@ectorhga  Rebuild SDL2 with the --enable-video-kmsdrm option, that should do it.
And don't use that small matchbox-window-manager thing, just run the game on the TTY.

[2022-08-24 07:31] ectorhga commented on #237
Thanks for all of your input! Of course I compiled Exult with SDL2 (as it's not possible any other way). What I was saying is, that I have had my problems with SDL2 even on exult 1.6. Back then, using SDL1 was my "fix".

@vanfanel I did what you told me: I compiled SDL2 from source (made sure the `--enable-video-kmsdrm` switch is set) and compiled exult 1.8.x again from source. In the end I have t

[2022-08-24 10:26] #88 closed

[2022-08-24 11:03] Dragon-Baroque opened #238 "Hardware MIDI Synth for Exult in Linux and Configuration XML Pretty Print"
[ Reopen of #88 ]

I have posted two branches of one commit in `Dragon-Baroque/exult`:

- `exult_config_xml` produces an Exult config file with clearer looking XML : instead of
[code]
this code produces
[code]
that is, terminals in XML are kept on one line, and nesting indentation is pushed to two spaces.
- `exult_alsa_midi` supports the hardware MIDI synths in Linux using ALSA : instead of _faili

[2022-08-24 11:48] Dragon-Baroque commented on #238
Both approved and merged by @marzojr, thanks to you.

[2022-08-24 11:50] DominusExult commented on #238
Assigned this issue to me, so I remember to document this!

[2022-08-24 12:34] Dragon-Baroque commented on #238
Good point, @DominusExult.

I have put an explanation of the logic of the choice of the MIDI device as a comment in `ALSAMidiDriver.cpp` :
[code]
There are actually three levels of checks :
1. If one sets `<alsa_port>` in `.exult.cfg`, then `ALSAMidiDriver.cpp` tries to _connect_ to it, no checks are performed else than the success of the connection,
2. `ALSAMidiDriver.cpp` _lists_ ALSA MIDI clien

[2022-08-24 13:03] DominusExult commented on #238
Thanks for the better description, this will come handy when writing this in the docs.

I have several devices daisychained (MT32, CM32, CM64, SC55 something).
AFAIR the USB2Midi device does not know whether there is a device connected to its two ports regardless whether turned on or off. It just reports its two available ports.

[2022-08-29 21:22] DominusExult opened #241 "CI Android is failing"
@ceckak if you have time could you take a look why the CI Android is failing?
The CI github action file is https://github.com/exult/exult/blob/master/.github/workflows/ci-android.yml

and fail is recorded at https://github.com/exult/exult/runs/8052304193?check_suite_focus=true#step:10:6621
Something something with libvorbis is failing. Maybe something to do with https://bugs.freebsd.org/bugzilla/s

[2022-08-29 21:55] ceckak commented on #241
Thanks for getting started on the CI for Android.  I will have limited availability through the end of the summer, but will start digging into this as time permits.  First up, I need to do a rebase of my local tree with all the recent changes and confirm it still builds manually and then I can review that against the CI results you are seeing.

[2022-08-30 02:36] i30817 opened #242 "Crash on entering the setup twice from Exult menu"
I tried to change midi to alsa from fluidsynth (although i'm pretty sure i don't have a hardware midi device available), then it probably fell back to something, then i tried to go to the settings menu again from the main menu where you select what kind of game to launch.

Black screen, and eventual crash. SIGAbort.

[code]

[2022-08-30 08:35] DominusExult commented on #241
Thank you!

[2022-08-30 09:37] Dragon-Baroque commented on #242
Apologies, surely caused by my Pull Request #238.

You are right, no Hardware MIDI is present in your PC, the MIDI-Through device 14:0 is given by Alsa whatever your config is. I have no idea

I thought it was a missing cleanup code in the Alsa MIDI driver when it failed to locate a suitable MIDI device [ 14:0 is filtered out as not suitable ]. I should have reproduced your problem by removing my

[2022-08-30 09:54] Dragon-Baroque commented on #242
To clarify, your log reads as :
- Default [ I suppose `.exult.cfg` ] MIDI device set as FluidSynth, Exult starts against FluidSynth :
[code]
- Then you switch the MIDI to ALSA in the Audio Options, it fails to find a device :
[code]
- The MIDI driver in Exult then falls back onto the FMOpl MIDI device :
[code]
- Finally you try again the Audio Options to restore FluidSynth, Exult crashes.

[2022-08-30 10:04] i30817 commented on #242
I'm actually the person that creating the linux ppa. It's _very slightly_ different in that the mt32 emulation is using the updated upstream library, not the bundled on in exult, and it doesn't publish the debug packages.

So i probably should have gotten the bug rolling in the gdb myself. I don't even remember how to build exult nowadays, or how to use the debian machinery to do so so it's a bit

[2022-08-30 10:10] Dragon-Baroque commented on #242
Thank you.

Meanwhile, you could help by running _the current failing Exult_ under `gdb`.

[2022-08-30 10:18] DominusExult commented on #242
@i30817 btw we don‘t bundle munt anymore and don’t have that subfolder anymore but compile against the mt32emu lib in the prefix.

[2022-08-30 10:19] i30817 commented on #242
Nah, that doesn't help. The backtrace is from the optimized version so it says a whole lot of nothing.

I mean i can try to build it manually, i guess, it's just a whole lot of annoyance.

The error occurs when i switch from fluidsynth, to ALSA, press 'ok'  and then press options again in the main menu. Actually i think it happens with any change, not sure.

here is the 'backtrace' with my current

[2022-08-30 10:22] i30817 commented on #242
Sure, i was remembering the previous state. It makes little difference, the buildbuilt 'depends' on another ppa that builds the static version of the library, so it's statically linked on the 'exult-team' ppa.

This is necessary because as far as i know, the library mt32emu is not in the distro repositories yet or maybe ever. Doesn't stop me building it and linking it statically though.

[2022-08-30 10:51] i30817 commented on #242
Ehh... i forgot i can just ... not build a package. The older package data is already installed and nothing changes except the executable being debug.

I guess i can just run the configure with the same settings + the debug setting and build, then run this other executable and it'll pickup the installed data fine. Wait a bit.

[2022-08-30 11:12] i30817 commented on #242
what does `--enable-midi-sfx` does btw? It's currently disabled in the ppa build, maybe because it's a newer option than when i created the package files.

The package _does_ have a extra data installer (made by someone else that i continued originally the project) that installs ogg files of mt32 music (the so called fakemt32 driver i think). But that already appears without enabling 'midi-sfx', s

[2022-08-30 11:13] Dragon-Baroque commented on #242
[code]
Interesting that you need to provide for a missing default FluidSynth SoundFont.

On my Fedora, SoundFonts are installed into `/usr/share/soundfonts/` ( not `/usr/share/sounds/sf2/` ) and the default FluidSynth SoundFont is supposed to be `/usr/share/soundfonts/default.sf2` which is a symbolic link made by the package  `fluidsynth-soundfont-gm` to the `/usr/share/soundfonts/FluidR3_GM.sf2`

[2022-08-30 11:22] i30817 commented on #242
I have libfluidsynth-dev for building and fluidsynth for runtime (since timidity was bundled into exult iirc), and `Suggests: fluid-soundfont-gm, freepats` for both compatible soundfonts.

But even if i _do_ have fluid-soundfont-gm installed, i don't have '/usr/share/soundfonts/' in ubuntu, so maybe the packages are slightly different.

[2022-08-30 11:28] DominusExult commented on #242
Midi-sfx will make the sfx play through MIDI which was a thing before we had the digital sfx packs (really ages ago) and generally sounds terrible.

The digital music is played via the digital driver.

Fakemt32 is for MIDI music playback when you use a soundfont that is more MT32 like (or whatever, I‘m not 100% sure) but the device (or library) can‘t be reprogrammed by the sysex.

http://exult.inf

[2022-08-30 11:48] i30817 commented on #242
Ok finally. As annoying as i expected to build.
[code]

This is built from 5ad20ed (before your last fix commit). Haven't tested it with it yet.

I only needed to change from fluidsynth to ALSA, press ok, then press the options again.

[2022-08-30 11:53] i30817 commented on #242
Don't ask me what a audio crash has to do with the paint methods though. I'll build with your fix now.

[2022-08-30 11:55] DominusExult commented on #242
It repaints the button, I guess.

[2022-08-30 12:04] i30817 commented on #242
Sure sure. It's just that something is wrong. Probably the 'data.get()' is pointing into the void, for ... some reason.

[2022-08-30 12:12] i30817 commented on #242
The current master has the same backtrace so there is no point posting it.

Oh, and the sequence is 'setup', exit, setup again, not 'options'. Didn't check the name in the main menu, there is no 'options'.

[2022-08-30 13:00] Dragon-Baroque commented on #242
Yes, I am suspecting the `data` too. For what I read in the backtrace, the code crashes _before_ actually entering into `Image_buffer8::paint_rle` which does not appear to be assembler or inlined.

Thus the only suspect is `data.get()` itself causing the SIGSEGV, then `data` being a `unique_ptr` of `unsigned char[]` has been trashed, possibly by the storage movements of my Alsa MIDI code.

Is the

[2022-08-30 13:32] i30817 commented on #242
Also unfortunately:
(gdb) print data
value has been optimized out

[2022-08-30 13:49] i30817 commented on #242
Stack overflow says to me to use a replayable debugger (like rr) and step back until it's not 'optimized out' (put into a register) but... rr currently doesn't install in ubuntu jammy for some godforsaken reason (it requires a fixed version of a 32 bits library: `libc6-i386 : Depends: libc6 (= 2.35-0ubuntu3) but 2.35-0ubuntu3.1 is to be installed`)

[2022-08-30 13:52] Dragon-Baroque commented on #242
Just enter main menu, leave main menu, enter main menu => crash ?
So it has been bad luck _to me_ that your first time was with an Audio change to Alsa using my latest code ?

The code in `configure.ac` is hard. We may need some firm statements from its developers.
- `--with-debug` controls the `-g` option,
- there is also a `--with-optimization` which directly controls the `-O` option,
- _but_ th

[2022-08-30 13:57] i30817 commented on #242
Didn't notice that option. That should do it, building now. Though i think it will just show it pointing to invalid memory, which is pretty obvious.

I think it is a regression (although i didn't bother doing a regression test) because i would have noticed before such a 'obvious' crash. Although i haven't been playing for a while. It's likely it has nothing to do with your audio changes yes.

[2022-08-30 14:01] DominusExult commented on #242
I can confirm that this happens on macOS as well (didn't test before as I thought it was ALSA related). I will go through my snapshots to maybe quickly find the commit that caused this.

[2022-08-30 14:03] i30817 commented on #242
Without optimization the backtrace is more complete/ different:
[code]

[2022-08-30 14:09] DominusExult commented on #242
The culprit according to my snapshots is either bdfa6d2f or 40325144.
 1487e72b does not crash but 40325144 and I have no build of bdfa6d2f

[2022-08-30 14:26] Dragon-Baroque commented on #242
@i30817, yes, still the `data.get()` : you see that the `#2` call to `Image_buffer8::paint_rle` has an invalid 3rd argument, precisely the `data.get()` expression in `Shape_frame::paint_rle` in `#3`. And the same damaged pointer propagates to `#1` and `#0` where it is finally used and crashes. So it crashed deeper, but this still puts the finger to `data` in `Shape_frame::paint_rle`.

Strange thou

[2022-08-30 14:33] i30817 commented on #242
I'm doing a bisect now.

[2022-08-30 14:40] DominusExult commented on #242
Marzo is on it in the Discord channel :)

That fixes the crash for me

[2022-08-30 14:41] #242 closed

[2022-08-30 14:43] DominusExult commented on #242
thanks @i30817 ! that could have remained unnoticed for a while now.

[2022-08-30 14:43] marzojr commented on #242
The issue was that the setup menu was reloading the shape files without clearing the new/improved cache. This caused the cached shapes to try to use stale file handles which, with luck, caused a segfault. On Windows, this was not crashing, but was displaying a black screen. Pressing 'esc' returned to Exult menu, but I have no idea what was being corrupted on the background as a result.

[2022-08-30 14:50] i30817 commented on #242
Ok all good.

[2022-08-30 14:52] Dragon-Baroque commented on #242
Well, Exult ( and Studio ) are `getopt_long` compliant. You should test with `exult --help` and `exult_studio --help`.

[2022-08-30 15:01] i30817 opened #244 "Escape should work in the 'show mods' menu entries."
For some reason it doesn't go back to the main menu, which is counterintuitive, because escape works to 'go up' most menus and shapes.

[2022-08-30 15:02] Dragon-Baroque commented on #242
Fixed for me too, thanks to all of you.

[2022-08-30 15:33] #244 closed

[2022-08-31 05:57] i30817 opened #245 "automatic notes are not being correctly shown in sifixes"
Basically i started a new game and opened the notes and got this:

![a](https://user-images.githubusercontent.com/757900/187604570-78f9709b-e101-4f95-ba83-79ee2bedf60d.png)

[2022-08-31 06:08] i30817 commented on #245
The thing about the portrait is strange because the other portraits appear to show correctly their mini form on that bar. All of them except lord bucket.

Also have you considered adding a buckethead female to the SI version too (I think it exists in the black gate keyring version)? It would need to also say the gender to distinguish both 'buckets', so the new game menu of SIfixes would have to ch

[2022-08-31 19:26] marzojr commented on #245
One bug report/feature request per issue, please. You just made 4 in two posts.

Anyway:

1. autonotes: this is not an issue with SI Fixes, it is an issue with general SI/SS autonotes in general (and likely BG/FoV ones as well?). Basically, BG and SI autonotes.txt are not complete, and some flags don't have text. Pull requests welcome!
2. The fake mountains *might* be fixable; the issue is that th

[2022-08-31 20:37] wench commented on #245
Trying to fix cosmetic world issues caused by using high res would have to be pretty low priority as high res is use at your own risk expect problems. There are problems all over the place where highres lets you see things that you were never supposed to see. I don't think SI fixes could ever reasonably fix them all

[2022-09-02 15:03] i30817 commented on #245
I misremembered that notes were taken automatically, but it was probably the item scroll. Fair enough.

Needs a real writer to write these i think.

[2022-09-04 11:14] ectorhga commented on #237
I've made some investigations, and the screen tearing gets fixed with a newer kernel version. I think you need at least 5.10.64. With kernel 5.10.60 there was still tearing on my setup.
These are the prerequisites for running exult on my RetroPie setup with KMSDRM driver. Mind that for the time being RetroPie still relies on Buster and not on Bullseye.
* Kernel version >=5.10.64
* Exult needs to s

[2022-09-04 13:31] vanfanel commented on #237
@DominusExult If you still want Exult on the TTY without tearing, edit `imagewin/imagewin.cc`, and change this:

`screen_renderer = SDL_CreateRenderer(screen_window, -1, 0);
`
into this:

`screen_renderer = SDL_CreateRenderer(screen_window, -1, SDL_RENDERER_PRESENTVSYNC);`

...and rebuild Exult. You WON'T have any tearing. But please, please stop running games inside an Xorg session... It makes ba

[2022-09-04 15:11] marzojr commented on #237
It should be; aspect correction is coded to scale to a 1:1.2 pixel aspect ratio, which has whole pixels when the scale factor is a multiple of 5.

I can't see a reason not to do this by default.

[2022-09-04 15:33] rofl0r commented on #237
well, it can drop framerate considerably on slower devices

[2022-09-04 15:43] marzojr commented on #237
Exult usually runs at 10fps, which is the stock fps for original U7/SI. What potato would you be using which cannot manage 10fps?

[2022-09-04 19:14] vanfanel commented on #237
Even a Pi2 can run this much, much faster with the heavy software scaling it uses. So I wouldn't worry about performance with VSYNC on.

[2022-09-05 00:14] wench commented on #237
Framerate  loss to vsync should be a non issue. Generally the problem with vsync come from the requirement that framrate = refresh/integer factor. The integer factor causes all the trouble and most shows its ugly heads when the theoretical frame rate is quite high. For instance at 60 hz refresh if the frame rate is above 60  the displayed framerate is capped at 60 because the integer factor has to

[2022-09-05 07:20] ectorhga commented on #237
With 5x scaling I'm getting a warning, that the game window is smaller than 320x200 as soon as I turn on aspect correction. So in the end I'd only have (1080/(5*1,2) = 180 pixel, if I understand it correctly?

LOL, take that, Jesus! ;) I just want to play the game in the best possible way. But I will rebuild it asap with the latest commit and report back.

[2022-09-05 07:50] marzojr commented on #237
Exult has 2 separate resolutions, the in-game one (which should be left at 320x200) and the window size. The window size has a few different "useful" resolutions you can cycle through, but you can set others by editing exult.cfg directly. You want the window size to be at least equal to game resolution multiplied by scale factor, then multiply height by 1.2 for aspect ratio. That warning means tha

[2022-09-05 10:35] ectorhga commented on #237
Then I'll probably use 4x scaling with aspect correction which results in a game window of 480x225. That way I'll come very close to the original 200 points vertically.
I know it's cheating, but U7 in full screen is just too nice. But there any show stoppers when using a larger game window? I think there was a point in the Forge of Virtue, but I can't recall recall.

[2022-09-05 20:08] DominusExult opened #247 "SDL2 master breaks joystick code with an assertion failure"
https://github.com/libsdl-org/SDL/commit/40bd4feedcca779a4600743c27a786b436edc8f7 breaks our joystick code with a
[code]

That happens in the iOS build but should also happen on other systems.
Probably our code needs to be more like this https://github.com/libsdl-org/SDL/blob/main/test/testgamecontroller.c

[2022-09-12 09:25] Dragon-Baroque commented on #236
@DominusExult made compilation / run checks on iOS and macOS, I did the same on Windows.

On Windows the build fails building the tool `shp2pcx` because the `#include <SDL_endian.h>` has been promoted to full `#include <SDL.h>`. This causes its link step to fail win `WinMain` unknown because of the SDL redirection of main to SDL_main.

I might struggle with adding the proper `#define SDL_MAIN_HAND

[2022-09-12 14:15] Dragon-Baroque commented on #236
Pull request #248 accepted and merged by @marzojr as commit a5e592a.
Thanks to you @marzojr.
Closing issue.

[2022-09-12 14:15] #236 closed

[2022-09-16 16:25] DominusExult opened #249 "Exult Studio: Files/Groups list need to be scrollable"
Exult Studio may become hard to use because the files/groups list can't be made smaller than the list needs to be when every file type is uncollapsed.
Example:
- Open a Serpent Isle game in Exult Studio
- now try to resize the height of the Exult Studio window
- It will not get smaller than the last file in the list (unless you collapse Palette Files)

This is a problem on smaller laptop screens (

[2022-09-17 12:17] Dragon-Baroque commented on #249
@DominusExult, there is a very simple change that I would like you to perform and tell me whether it suits you.
Change with a regular text editor in the `share/exult/exult_studio.glade` the Vertical Scroll Policy of the `scrolledwindow2` from `never` to `always` :
[code]
You should alter the last line of that excerpt to
[code]
Then run Exult Studio again.
This, for me, creates a vertical scroll ba

[2022-09-17 15:59] DominusExult commented on #249
Works fine, also works with setting it to automatic. I also see the smallness of the vertical treeview, can there be a default expansion? Or maybe a default for the whole Studio windows (as it is saved on closing in exult.cfg)?
Another odditty in regards to horizonal view, it always seems to start with a reduced view that you can manually adjust, but when you select a file it automatically expands

[2022-09-18 11:24] Dragon-Baroque commented on #249
True. `automatic` should be better than `always`, because `always` presents a scrollbar even when it is unneeded ( and then useless ).

All my tests have been performed after a removal of `.exult.cfg`. To be safe.
The GtkTreeView is fully embedded in a GtkScrolledWindow, because the GtkScrolledWindow can carry scrollbars, and the GtkTreeView cannot.
I did not search much, but I have not been able

[2022-09-18 12:24] DominusExult commented on #249
` <property name="min-content-height">360</property>` it should be then, I think that's a good preset and that is only until you adjust it and the new default is in exult.cfg. Thanks for figuring a good way out :)

Sorry for piling on in this topic, but I wonder if the persistent scroll bar of the actual browser should be done away and be replaced by an automatic one. I found that you can only scr

[2022-09-18 16:25] Dragon-Baroque commented on #249
Proposal : remove property `vscrollbar-policy` because `automatic` is the default, replace by property `min-content-height` set to `360`. I shall make a Pull Request very shortly along these lines.

Mmh. The scrolling logic of the Shape Browser GtkDrawingArea is quite different from, say, the File List GtkTreeView.
The File List is produced by the Game Chooser as a fixed size image, displayed whol

[2022-09-18 20:35] Dragon-Baroque opened #251 "No communication from Exult to Studio"
Linux, latest 1.9 :
Running Exult, Activating Cheat mode, Launching Studio ( Alt Ctl M ), Studio launches, but message `Can't find gamedat for socket`.
In `mapedit/studio.cc`, the check `U7exists(GAMEDAT)` succeeds, but the check `U7exists(EXULT_SERVER)` fails.
The `~/.exult/forgeofvirtue/gamedat/exultserver` socket exists but `U7exists` does not find it - cannot open it, I guess.
If I remove the

[2022-09-18 22:25] Dragon-Baroque commented on #249
Ah. I have understood why the width changes with the `SHAPES.VGA`. It is because this file has builtin groups, and the width of the Combo Box that contains the builtin group names with such names as `Objects with Gump` along with the other widgets of the Group page requires a larger width of the Group notebook page.

If you agree, I can increase the `width-request` of the `frame120` from `200` to

[2022-09-19 05:59] DominusExult commented on #249
Thanks for analyzing this!

This all sounds very time consuming. I thought it would be easy piecey like the file list issue.

[2022-09-19 12:47] Dragon-Baroque commented on #249
1. About the File List changing width, perhaps the most simple way is to make _visible_ the Groups page at the start, as I have now made sure that the display of this page increases the File List width.
If you want to test, this is, in the `share/exult/exult_studio.glade`, from its `exult/exult` state, just add the second line after the first :
[code]
2. Scrolling from inside the Shapes GtkDrawing

[2022-09-19 12:56] Dragon-Baroque commented on #249
I forgot above : The patch applies to `shapelst`. Thus it works for all files of the file list, except for the Groups ( code to be replicated ), the Chunks, Combos or NPCs ( code to be replicated ), or Palette ( irrelevant, no scrolling ).

[2022-09-19 19:36] Dragon-Baroque commented on #249
Here it is. New patch to act in the shape browser with the mouse wheel like with the vertical scrollbar.
[studio_scroll_2.zip](https://github.com/exult/exult/files/9601846/studio_scroll_2.zip)
Same as the previous one : apply patch to Exult as `master`.
Please report whether you prefer as that, whether you get stalls, and whether you find the ( Page ) Up / Down keys any useful ( if not, this would

[2022-09-19 19:41] DominusExult commented on #249
Yes, it is too big in width, and from my messing with the the glade file and what you mentioned before, I think it is because it expands to the size of the "Groups" lower part elements (text entry box, New, Delete). Probably not much one can do about that as you need a sensible default for the text entry box. (if that is the cause of this)

I cannot test this today and the soonest tomorrow evening

[2022-09-19 19:59] Dragon-Baroque commented on #249
Exactly. A GTK+ 3 GtkEntry cannot be narrower that **150 pixels**. Add to it the New and Delete buttons and you reach the width of the File List. We could reduce the final width if we changed the layout of the bottom, say, the two buttons _below_ the GtkEntry,
By the way, this is the same on the right pane, as the Find, Locate F: and Locate Q: GtkEntrys are responsible for the width of the Shape b

[2022-09-20 17:47] DominusExult commented on #249
This works way better, no stalls, in fact it is a bit too fast compared to how the scroll bar scrolls.
(page) up/down might be useful but as I wrote before, I'm not sure I'd actually use it.

[2022-09-21 14:48] Dragon-Baroque commented on #249
This is unexpected. I tried to ensure that the vertical shift of the Shape browser remained the same at one click of the mouse wheel in the browser page and in the scroller.

_However, I have noticed a rounding error, so that I am posting a new patch._
[studio_scroll_3.zip](https://github.com/exult/exult/files/9617686/studio_scroll_3.zip)

If you feel that you still get a difference in speed, I wo

[2022-09-22 07:32] DominusExult commented on #249
These are the tests, first with a mouse + wheel, then with the trackpad scroll gesture. This is all on macOS (no gtk on iOS).
Always started from position 0.
As you can see the scrolling in the browser quickly jumps to the end. Mouse wheel with smooth scrolling disabled the quickest (three clicks).
[code]
The messages above come from my mouse drag actions on the scroller.

[code]
The messages abov

[2022-09-22 08:18] Dragon-Baroque commented on #249
Thank you, @DominusExult.
I see the difference. Whereas in my Linux setup, mouse wheel clicks units have to be converted into pixels ( multiply by a few tens ), it looks like in macOS, mouse / touchpad scroll events are already in pixels.

To remove the spurious conversion :
After you apply my studio_scroll_3.diff, there is this in `mapedit/shapelst.cc`, line 1892+, function `Shape_chooser::scroll

[2022-09-22 08:32] DominusExult commented on #249
I'll give it a try. The smooth scrolling is an option of the Logitech mouse. Disabled the wheel has noticeable "clicks"/physical resistance. Enabled it spins freely until stopped.

[2022-09-22 09:17] marzojr commented on #249
The difference could be due to highdpi stuff.

[2022-09-22 09:39] DominusExult commented on #249
With this change both browser and scroll bar scrolling work the same way

[2022-09-22 10:55] Dragon-Baroque commented on #249
Thank you, @DominusExult.

I think at this point that I am ready to work on a patch and a Pull Request for :

1. A correct working of the mouse wheel on all platforms, with the help of your `#if defined`,
2. Without the support of the arrow and page keys, since I cannot any longer emulate a mouse wheel click on macOS, and since you do not feel this to be crucial,
3. Replicated to the Combos, the C

[2022-09-23 14:06] i30817 commented on #251
Are you using the ppa? I guess i might have broken this, considering i hardcode the location of the games (after asking for the game data in install)

[2022-09-23 15:24] Dragon-Baroque commented on #251
Not your fault, indeed, do not worry.

The `U7exists` fails on sockets.

[2022-09-25 06:07] jharrison03 commented on #227
Sorry for taking so long on this.  Still have the same issues with current code as of Sep 25.  1.6 continues to work properly for me.

[2022-09-28 10:12] DominusExult commented on #247
Sorry for the noise, it was a problem caused by SDL not adding the joystick lock code to their iOS code. Fixed in SDL code.

[2022-09-28 10:12] #247 closed

[2022-09-29 16:20] Dragon-Baroque commented on #249
Closed issue by PR #253

[2022-09-29 18:26] DominusExult commented on #249
works, great! thanks a lot for doing that!

[2022-10-01 09:33] Dragon-Baroque commented on #251
It relates to the issue #204 : commit 05338a4 by @ceckak replaced `stat()` by `U7open_in()` in `U7exists()`.
@marzojr fixed issue #204 by adding `U7opendir()` to `U7exists()` in commit dcbd031 for those systems where directories cannot be `U7open_in()`.
But sockets cannot either be `U7open_in()`.

I do not propose to restore a `stat()` in `U7exists()`. Instead, for the very narrow case of Studio l

[2022-10-01 09:59] #251 closed

[2022-10-01 10:41] Dragon-Baroque commented on #249
Forgive me @DominusExult, I may have closed the issue a little too quickly.
There remains a choice between

1. the initial FileList treeview begin narrow at first and enlarging itself once you click on any file, because it then displays the Group tab and prepares the much wider Group page for display,
2. or the initial FileList treeview having from the start its wider size because the Group tab an

[2022-10-01 18:32] DominusExult commented on #249
I vote for 2, now that I noticed the width jumping it annoys me a lot ;)

[2022-10-01 20:38] Dragon-Baroque commented on #249
Implemented 2 by Pull Request #255, that I merged myself.

On the same vein, we could prevent the enlargement of the right panel by choosing a starting default browser. I would then suggest we default Studio to the `shapes.vga` at start, provided it exists, of course.

[2022-10-11 08:36] drcode1 commented on #176
Cheers!  :-)

On 4/10/2022 11:18 AM, Dominik Reichardt wrote:

[2022-10-25 08:02] #249 closed

[2022-11-03 11:23] agentorangeguy opened #256 "Exult crashes randomly while sleeping past midnight in Britain"
I've discovered a weird bug that at first I thought was only in my mod but I was able to replicate it on vanilla BG.  Basically you have to go to Britain somewhere, and sleep at an hour past midnight but before 6am it seems. I've only gotten this to work solo but it might work for other party as well.  Sometimes it takes a while (keep continually sleeping) but then it will crash... and it's always

[2022-11-04 20:51] captain-cabinets opened #257 "Randomly but consistently crashing during combat - BG"
I'm maybe 1/4 of the way through BG, and haven't had any issues until now. Been to Yew and the Great Forest (or whatever it's called) before with no issues. Now I'm there and close to every time I start fighting something, Exult crashes.

Stdout & Stderr attached. Save game attached (rename to .sav). If you load it up and walk NE to fight something near the wisps, it'll crash ~80% of the time. Or

[2022-11-05 09:38] captain-cabinets commented on #257
Update: It's not just in Yew. Seems to be the next instance of combat, wherever that is. I teleported to Britain, went west, got into a fight with a reaper, and it crashed straight away again.

[2022-11-06 00:18] i30817 commented on #257
Post the savegame.

[2022-11-06 11:34] captain-cabinets commented on #257
I did, in the original post... but since github doesn't let you attach .sav files, I renamed it to a .txt.

Here's a link as well: [https://drive.google.com/file/d/1B3cPYmdUXIHB843yVbYO5vS9WEtAyZak/view?usp=sharing]

[2022-11-06 11:35] captain-cabinets commented on #257
[sorry, here](https://drive.google.com/file/d/1B3cPYmdUXIHB843yVbYO5vS9WEtAyZak/view?usp=sharing)

[2022-11-06 12:10] rofl0r commented on #257
you can also attach zip files, that's what most people would do (put sav into zip, attach). either way you should probably try to get a backtrace with gdb when the crash happens, and recompile exult with memory sanitizer which should immediately point out invalid memory accesses.

[2022-11-06 16:53] Dragon-Baroque commented on #257
Thank you for this report @captain-cabinets.

You might have wrapped the two logs and the savegame into a single zip. But you provided the logs and the savegame, this is the key.

From the stderr log, I obtained
[code]
which points to memory corruption / bad smart pointer management.

From the stdout log, I obtained
[code]
which tells us that you are using Exult 1.8.0 on Windows 10.

With that, I

[2022-11-06 17:24] captain-cabinets commented on #257
Thanks to everyone, and thank you to @Dragon-Baroque for the investigation. Next time I'll do the smart thing and zip everything up together - unfortunately my brain only functions intermittently, and this was one of its off days :)

I can confirm that the latest 1.9.x snapshot fixes the issue and I have had no more crashes. So it does indeed seem to stem from the same issue as #211. I'll close th

[2022-11-06 17:24] #257 closed

[2022-11-06 21:47] DominusExult opened #258 "Debug versions of the releases"
Let's add debug versions of the 1.8 releases to our download page.

[2022-11-08 08:47] Dragon-Baroque commented on #256
Would you please follow the advice in http://exult.info/faq.php#bug_report and attach to this issue a _zip file_ with

1. An Exult savegame from which this problem shows at least 50% of the times when we follow some more precise instructions, if you please,
2. The whole stdout.txt log file produced by an Exult session started from the savegame and up to the reported crash,
3. The whole stderr.txt

[2022-11-08 19:29] DominusExult opened #259 "Windows XP: manifest change cut off support"
I need to test but it seems that @marzojr's change to the manifest files e2a417061476 cut off Windows XP support without need to.
The `asmv3:` before each
[code]
and the closing tags is needed for Windows XP while later Windows OS' are more forgiving in this regard.

[2022-11-08 20:22] DominusExult commented on #259
This indeed fixes a problem on starting Exult in XP but then all our dlls via mingw/msys are not compatible with XP anymore so it will not start anyway.
I'll need to correct our download page and remove the XP compatibility.

[2022-11-08 20:22] #259 closed

[2022-11-08 21:33] DominusExult commented on #256
I can reproduce this with the attached savegame (just sleep there for 12 hours). Nothing in the logs, just a segmentation fault.
I'll try and git bisect.
[exult82bg.sav.zip](https://github.com/exult/exult/files/9965413/exult82bg.sav.zip)

[2022-11-08 21:54] DominusExult commented on #256
@agentorangeguy great job at finding the point of when the problem occurred.

The culprit is commit 5df536bb7c85d8873cc054e26ca1b3b2797cedfb by @marzojr

[2022-11-09 08:39] #256 closed

[2022-11-09 09:52] DominusExult commented on #167
I just find I have no time to set up and maintain the forum etc. on tuxfamily.org. And our forum on the SourceForge is no fun to maintain as SF cut so many features by not allowing mail. And it is slooooooowwwww.

Therefore I propose to moving to [Github Discussions ](https://github.com/exult/exult/discussions). I opened that and added two announcements and a poll.
Pros: mark down, direct referenc

[2022-11-10 03:14] KnightCaptainU7 opened #268 "Single Sound Effect repeats on Energy Field"
The Energy Field shape, 768 in SI, is set to "Single Sound Effect" to match when it is first created. But the sound repeats over and over. I don't believe that is how it worked in the original game.

Steps to recreate:
Start a new game and teleport to Vasculio's area. Or drop one in via ES.

[2022-11-10 03:21] KnightCaptainU7 opened #269 "Attacking Locked Doors not possible in Exult?"
In Exult 1.8.0, you cannot attack doors to break them down. Double-clicking or using T to target them in combat mode still treats them like regular doors. If it is locked, it will say so.

In DOSbox, the doors are attackable shapes, and can be broken.

[2022-11-10 03:39] KnightCaptainU7 opened #270 "EAT and EAT_AT_INN looks for plates but never places them"
The scheduling code for EAT and EAT_AT_INN seems to not place plates, so no one eats. Testing in Monitor, Lucilla makes the "swing" like she's trying to place a plate, but it doesn't land.

EAT also does not seem to place plates. This is visible in the Rangers' mess hall, where they should place places on the table before placing food on them, but they never do in Exult.

[2022-11-10 03:41] KnightCaptainU7 commented on #270
In DOSbox, Lucilla places small white places and more often the same size plate but of wood. So there is likely some logic of which plates to use on which tables?

[2022-11-10 03:43] KnightCaptainU7 commented on #270
The southwest red chair in Sleeping Bull is too far from the table for the NPC seated to be fed. It needs to be over to the east slightly. The north one at the same table also needs to be moved east to center it.

In the Rangers' mess hall, the two chairs below the table are too close to allow any NPC to sit.

[2022-11-10 03:54] KnightCaptainU7 opened #271 "Casting spells above level in SI?"
Seems that I can cast spells in SI one level above the level of the Avatar. Possibly due to BG having Circle Zero spells that are outside the circle system?

[2022-11-10 05:09] KnightCaptainU7 opened #272 "Reapers walk in Exult"
In Exult 1.8.0, reapers walk when they should be static. They can do this even when their NPC flag for Walk is set to false. Walks is also not set looking at the shape in ES.

In DOSbox, the reapers are static, and don't activate until you are within attack range.

[2022-11-10 05:23] KnightCaptainU7 opened #273 "Loot results different in Exult"
There may be an Exult divergence in handling of the items given in spawned enemy bodies. For example if you kill a goblin, notice how they have the same single frame of a food? And trolls always have the 4 gems or none, and 10 gold or none?

In some play testing of the original game in DOSbox, goblins in the forest give about 4 food, with different random frames each time in the same body. Apples,

[2022-11-10 05:40] drcode1 commented on #167
Sounds just fine to me.

On 11/9/2022 1:53 AM, Dominik Reichardt wrote:

[2022-11-10 06:26] KnightCaptainU7 commented on #245
I've rewritten the scene so the landing is more dramatic, and the two fake coasts are gone.

It would be nice if the SI map wasn't as horribly incomplete, but we don't have a reviewable / diff way to commit the changes. There are spots where dungeons are open-air, like the main hall in Spinebreaker.

[2022-11-10 06:47] DominusExult commented on #272
hmm, this is perhaps similar to the lava monsters walking on lava. I'll have to see how that was fixed and if I can apply that similarly.

[2022-11-10 07:07] DominusExult commented on #269
I have to check the locked event but it was on purpose to not attack unlocked doors and chests

[2022-11-10 07:48] DominusExult commented on #270
this is also not working in the original, right? If so, then I wouldn't worry about it other than SI Fixes. To fix it outside of a mod is very hackish. We have a function for that but it's reserved for critical stuff.

[2022-11-10 08:33] i30817 commented on #245
I can buy a mountain with a hole in it. That's just remodeling by a horribly powerful mage.

Disappearing mountains that happen for no reason, that's harder.

[2022-11-10 09:05] marzojr opened #277 "Fix up CodeQL"
This is mostly a reminder for myself to:

1. make CodeQL analyze more than just Exult (see #263, 9f11824d);
2. remove the LGTM stuff

[2022-11-10 14:00] KnightCaptainU7 commented on #272
Fire elementals "swim" across lava. In both Exult and in DOSbox, setting the "Swim" flag allows for walking across the lava.

[2022-11-10 14:01] KnightCaptainU7 commented on #270
Correct, if the chair is too close in the original the NPCs do not move them to sit.

[2022-11-10 21:45] #277 closed

[2022-11-11 22:31] KnightCaptainU7 opened #278 "FR: Zoom in Studio"
Could you kindly add a zoom slider or drop-down in the lower right of the Exult Studio interface? It would make it easier to inspect things without changing system display settings.

[2022-11-13 13:37] DominusExult commented on #272
Bringing up that commit was the correct hint. The issue is caused by 2f97ebda390faec008c71c6109dd5b7f156af3fa from @marzojr.
There is a reaper in BG at 0462,01a9 for easy testing.

[2022-11-13 16:35] #269 closed

[2022-11-13 17:14] DominusExult commented on #272
If I add a
[code]
then it works for the reapers, but I'm not really getting the code to begin with

[2022-11-13 18:29] #272 closed

[2022-11-13 18:32] DominusExult commented on #272
Way different and extensive ;)
Thank you!

[2022-11-13 18:34] marzojr commented on #272
A lot of differences are edits for readability. Better to have a variable 'can_walk' than having '(move_flags & MOVE_WALK) != 0'.

[2022-11-19 03:07] KnightCaptainU7 commented on #278
Was digging into some older versions, with the older toolkit (GTK?) and found that seems to have a zoom level for shapes on by default.

![image](https://user-images.githubusercontent.com/117867844/202831314-0e295c8a-2e68-4ea1-a62f-1dcfaf583617.png)

[2022-11-19 08:12] Dragon-Baroque commented on #278
Looking at the widgets in the menu bar, this looks indeed like an older GTK+.
But I migrated Studio to GTK+ 3 and I do not recall removing any zooming code from the Shape Browser.
For me to bissect the change, could you state the version and the date of the "Old Es", and possibly where you got it from ?

[2022-11-19 20:56] DominusExult commented on #278
I couldn't find a version that did that but I only have a few scattered versions of the Windows build around (and none since before @Dragon-Baroque migrated Exult Studio). So @KnightCaptainU7 it would be really helpful if you can pinpoint date/version somehow.

[2022-11-20 09:23] Dragon-Baroque commented on #278
I have rebuilt [ though on Linux ], Exult and Studio from the v1.6.x branch.
Studio from the v1.6.x branch _does_ show the older style widgets in the menu bar, but the Shapes have exactly the same size as in the master branch.

[2022-11-20 15:33] DominusExult commented on #268
Actually this behaves as the original. Simple steps to reproduce is via the energy field spell (no need to travel to Vasculio).
One could argue that this is annoying, though, but that's a whole world of grief when you go through all SFX.

[2022-11-20 16:07] DominusExult commented on #278
I tried builds as old as  from 2010 but as I said with a lot of gaps in between and all on Windows. (Tried different Windows versions, too).
Regardless, it would be a welcome addition to Exult Studio ;)

[2022-11-20 20:54] Dragon-Baroque commented on #278
Agreed. I have made a simple test with `gdk_pixbuf_scale_simple` which is the solution proposed by your hint.
It is simple to code and it scales correctly, but then all size computations become wrong : the scrollers do not reach the bottom or the right, the selection rectangles are at the wrong place with the wrong size, and the selected shape is the wrong one.
And the only reasonable GDK Pixbuf s

[2022-11-20 21:13] marzojr commented on #278
Yeah, the size computations have to be redone for everything to work correctly; this includes the bounding boxes of selection and the scroller settings. They all need to be made aware of the current scale, and be invalidated/recomputed when scale changes.

I would argue against limiting to only 150% scale; with modern displays and resolutions, this can be very tiny still. Can you try to see what i

[2022-11-20 21:24] marzojr commented on #278
Also, for what is worth, as a _workaround_, the following environment variables can be used:

[code]
 Here is a comparison, both screenshots taken at the same monitor with maximized ES window:

Original:
![image](https://user-images.githubusercontent.com/4719275/202926854-5a5c4e9e-dba5-4045-825b-30e80ebc7dc8.png)
With the two variables above:
![image](https://user-images.githubusercontent.com/4719

[2022-11-20 21:49] Dragon-Baroque commented on #278
@marzojr :

A screenshot of a Nearest 200% followed by a Bilinear 150%, but my screen is only 1920*1080 :

![Scaled300](https://user-images.githubusercontent.com/74261498/202927143-7a25c2da-b959-416f-8a79-0bcf325c70c1.png)

Strange, can't get any effect with GDK_SCALE. GDK_DPI_SCALE=0.5 affects the text all right and the Shapes move because the GtkDrawingArea becomes a bit larger, but GDK_SCALE :

[2022-11-20 21:58] Dragon-Baroque commented on #278
And if you would like to test it, this is a very small patch into `Shape_draw::show` in `mapedit/shapedraw.cc` :
For your proposal of Nearest 200%, then Bilinear 150%, replace
[code]
by
[code]
and add the `g_object_unref` of the temp pixbufs at the end.

[2022-11-21 07:49] DominusExult commented on #278
Neither GDK_SCALE nor GDK_DPI_SCALE work on macOS https://discourse.gnome.org/t/how-to-disable-hidpi-on-macos-and-quartz-backend/1547/4

I'm gonna give the small patch a try.

A quick search on macOS and GDK_SCALE brought me to https://github.com/Beep6581/RawTherapee/issues/5291 - seems the proper way forward would be to abandon `Gtk::Pixbuf` for `Cairo::ImageSurface`

@KnightCaptainU7 the
[code]

[2022-11-22 17:43] DominusExult commented on #278
@Dragon-Baroque the patch works as in your screenshot. It's pretty huge :)
(and nothing works as you already commented).

[2022-11-22 18:57] KnightCaptainU7 commented on #268
In testing via DOSbox, once the shape is in its final frame the related sound effect stops. In Exult, it just repeats over and over.

Is this something closed as wontfix? If so, I can disable the related sound in my mod.

[2022-11-22 19:07] KnightCaptainU7 commented on #278
The version in my screenshot is 2019-09-20, a 1.5.0 build. I have most of the installers for versions I have used.

@DominusExult where do I set those lines?

For simplicity's sake, could we do 2x, 4x, 8x? That way we keep the graphics as they are, without interpretation.

[2022-11-22 19:11] DominusExult commented on #268
I've reopened it.
I think what happens and why I thought we were doing it correctly was that, as you said it stops when the energy field is complete but then starts again when the field goes down again.
And this happens when you cast the field but it doesn't go down when it is done by an egg.

[2022-11-22 19:13] DominusExult commented on #278
You set those in command line and start Exult Studio from that command line as well. Or you set them as global variable in Windows.
Honestly it's bern a while since I needed to do that in Windows, so I don't know how exactly you set the gobsl variables in (current) Windows anymore

[2022-11-22 19:25] DominusExult commented on #268
currently sfx are dehardcoded and editable in shape_info.txt (so in a mod you can turn that sfx off completely).
But the `%%section shape_sfx` does not have the option to limit the frames that play the sfx. That would need an extension or another `%%section shape_sfx` like section.
@marzojr what do you think?

@KnightCaptainU7 can you give me the exact coordinates (or rather close so I'm not on it

[2022-11-26 15:43] Dragon-Baroque commented on #278
@KnightCaptainU7, @DominusExult, @marzojr,

I have created a branch `studio-zoom-shapes` in my fork `Dragon-Baroque/exult`.
The commit provides Zooming of the Shapes in Exult Studio :

- The Zoom factor ( x1, x1.5, x2, x3, x4, x6, x8, x12, x16 ) and the Zoom mode ( Nearest or Bilinear ) can be set at the command line option `--zoom` or in a GUI in the menu bar,
- The Zoom factor and mode are store

[2022-11-26 16:37] DominusExult commented on #278
make error:
[code]

[2022-11-26 17:05] Dragon-Baroque commented on #278
@DominusExult, sorry about that.
Fixed.
I compiled in DEBUG and this did not show.

[2022-11-26 17:38] DominusExult commented on #278
Thank you! This works great and looks fantastic! Selecting, drag'n'drop into Exult all works fine.
Especially nice is that an Exult Studio window (like the shape inspector when you double click a file) also shows the zoom level and also update when you change the zoom level.
This is really great and don't want to live without it anymore :)

[2022-11-28 10:09] Dragon-Baroque commented on #278
Thank you, @DominusExult, I appreciate that.

I intend to make some cleanup and then make a Pull Request.

Meanwhile, I have a few questions related to HiDPI :

1. What are _your_ screen size and dpi  ?
2. If it is High DPI, is there in macOS ( like it seems there is in Windows ) a way to claim that an application cannot see more than ( say ) 1920x1080 and the operating system scales the windows o

[2022-11-29 07:25] DominusExult commented on #278
1. 5120x2880 and 6400x2880 in hidpi, the ppi is 217.57
2. I don't think so
3. I really don't have a default size, it always depends on what I'm doing
4. see #105 - the windowed modes are hardcoded but if you enable fullscreen (without hitting apply, you should see the available modes) - maybe it would be a good way to set more default resolutions up to 5120x2880 (or higher), grab the maximum avail

[2022-11-29 09:36] Dragon-Baroque commented on #278
That means 16:9, like my  1920x1080.
The hardcoded windowed resolutions split into a few multipliers of 320x200 [ 16:10 = original VGA ], and many more multipliers of 320x240 [ 4:3 = CRT ]. Exult does not hardcode any resolution for 16:9.

Should we organize the Video Gump by asking separately for the size ratio ( 4:3, 16:10 and 16:9 ), and propose Window Sizes that comply with the Size Ratio ? In

[2022-11-29 20:19] DominusExult commented on #278
phew, I have no real idea what the correct thing to do here is. Mostly I think people don't know what ratio their screen is or don't care. Especially for the windowed view I don't think it really matters what ratio the screen has.
More modes for windowed mode are needed though, IMO.
Removing those below 1024x768 is reasonable anyways. At this time I doubt anyone running Exult windowed has a screen

[2022-11-29 21:02] marzojr commented on #278
For what is worth, I am lately been using windowed mode at 962x900 window size and 3x scaling, with game area at 320x200 with aspect correction. I get black bars on top and bottom, but they are where shortcut bar and status bar go (mostly).

But I think that adding more resolutions would be useful. I think I like the idea about aspect ratio; instead of a list of resolutions, we can have a base asp

[2022-11-29 21:17] Dragon-Baroque commented on #278
I may have been wrong headed by proposing that, though. Looking at the code for the Status Bar when set Vertical, it uses the left black area for the first four members of the party, the right black area for the remaining four members. Am I wrong ?
Thus the right black area is already reserved.

Might be. Sure this is getting quite far from the scaling in Studio.

[2022-11-29 22:11] Dragon-Baroque commented on #278
In Studio, I am working on the scaling of Chunks, trying to make the scrolling smoother.
Then I noticed that some Chunks in Studio look wrong. And different from Exult

![Untitled](https://user-images.githubusercontent.com/74261498/204656718-2190e808-0243-41f5-91ea-e8cd8639eb92.png)

This snapshot is from Studio at master, over Forge of Virtue, no mod.
The Chunk at about the center, with the mount

[2022-11-30 03:49] KnightCaptainU7 commented on #278
I'm using 3840 x 2160 (4K) with 150% scaling in Windows.
In Exult, I'm using 1680 x 1050 with x4 scaling, using the Point scaler. HighDPI is enabled, running in non-full-screen.

If you have a binary available I can test.

[2022-11-30 07:24] DominusExult commented on #278
@KnightCaptainU7 https://www.dropbox.com/s/ch05q5t2lg0ncvz/ExultStudioZoom.exe?dl=0 <- Exult Studio with zoom

@Dragon-Baroque I see those lines everywhere (on macOS and Windows) but the chunks are fine in Exult. AFAICT this always looked like this in Exult Studio (tested a couple of years old version).
Another issue...

Shortcutbar to the sides: we probably need some logic that status bar and sho

[2022-11-30 08:14] Dragon-Baroque commented on #278
@DominusExult, @KnightCaptainU7, you need the `exult_studio.glade` too, to display the Shape Scaling widgets.

Otherwise the widgets won't display ( lack of anchor ), apparently Studio does not crash, but you can scale the Shapes only in command line :

Examples : `--zoom 400` or `--zoom N400` for Nearest 400%, `--zoom B150` for Bilinear 150%,
Syntax is `--zoom [B|N]number` B for Bilinear, N for N

[2022-11-30 08:25] DominusExult commented on #278
The build I uploaded is a complete setup with all the files, including the glade file.

I have to test whether Exult makes adifference between notepad +/- and the other

[2022-11-30 10:06] Dragon-Baroque commented on #278
Selbstverständlich. Apologies.

I have added the + and Keypad +, - and Keypad - actions into my prototype.
I would prefer to let only the Keypad + or -, if only because I do not find quickly + or - ( on my keyboard one is shifted, not the other ), but I shall follow your advice. The four keys work at this point and do not interfere with the other uses of the keyboard.

Do the various tiles in a ch

[2022-11-30 13:10] Dragon-Baroque commented on #278
Pull Request #281 contains :

- Some new resolutions in Exult,
- Zooming of Shapes, NPCs, Combos, Chunks,
- Setting Zooming by command line, GUI in menu bar, Keypad and Main + and -,
- Scrolling smoothly Shapes, NPCs, Combos and Chunks.

[2022-11-30 21:50] Dragon-Baroque commented on #278
Pull Request #281 merged by @DominusExult, thanks.

Cosmetic follow up Pull Request #282 merged by me :
- Prevent unexpected vertical moves in the Combo browser and the Chunk browser when changing the Zooming scale.